# Ignore objects and archives.
*.[oa]
# library description files
*.lo
*.la

.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autoconf/Doxyfile
autoconf/config.guess
autoconf/config.sub
autoconf/depcomp
autoconf/install-sh
autoconf/ltmain.sh
autoconf/missing
autom4te.cache/
./cloog
cloog-isl-uninstalled.pc
cloog-isl-uninstalled.sh
cloog-isl.pc
cloog-isl.pc.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/gitversion.texi
genversion.sh
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
source/version.c
test/.deps/
test/Makefile
test/Makefile.in
test/generate_test
version.h
include/cloog/version.h
